/ {
    keymap {
        compatible = "zmk,keymap";
        experimental {
            label = "Experimental";
            bindings = <
//                ┌──────┬──────┬──────┬──────┬──────┬──────┐                                             ┌───────┬──────┬──────┬──────┬──────┬──────┐
//                │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │                                             │  BSPC │ ____ │ ____ │ ____ │ ____ │ ____ │
//                ├──────┼──────┼──────┼──────┼──────┼──────┤                                             ├───────┼──────┼──────┼──────┼──────┼──────┤
//                │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │                                             │ ____  │ ____ │ ____ │ ____ │ ____ │ ____ │
//                ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐   ┌──────┬────────────────────┼───────┼──────┼──────┼──────┼──────┼──────┤
//                │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │   │ ____ │        ____        │  BSPC │ ____ │ ____ │ ____ │ ____ │ ____ │
//                └──────┴──────┴──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼────────────────────┼───────┼──────┼──────┼──────┴──────┴──────┘
//                                     │ ____ │ ____ │ ____ │ ____ │ ____ │   │ _oo_ │ lt_SYMBOLS A enter │ ____  │ ____ │ ____ │                     
//                                     └──────┴──────┴──────┴──────┴──────┘   └──────┴────────────────────┴───────┴──────┴──────┘                     
              ____   ____   ____   ____   ____   ____                                                &kp BSPC   ____   ____   ____   ____   ____
              ____   ____   ____   ____   ____   ____                                                ____       ____   ____   ____   ____   ____
              ____   ____   ____   ____   ____   ____   ____   ____       ____   ____                &kp BSPC   ____   ____   ____   ____   ____
                                   ____   ____   ____   ____   ____       _oo_   &lt_SYMBOLS A RET   ____       ____   ____                     
            >;
        };
	};
};
