/ {
    keymap {
        no_hold {
            label = "No Hold";
            bindings = <
//                ╭─────┬─────┬─────┬─────┬─────┬─────╮                           ╭───────────┬─────┬─────┬─────┬─────┬─────╮
//                │     │     │     │     │     │     │                           │           │     │     │     │     │     │
//                ├─────┼─────┼─────┼─────┼─────┼─────┤                           ├───────────┼─────┼─────┼─────┼─────┼─────┤
//                │  ⌃  │     │     │     │     │     │                           │           │     │     │     │     │     │
//                ├─────┼─────┼─────┼─────┼─────┼─────┼─────┬─────╮   ╭─────┬─────┼───────────┼─────┼─────┼─────┼─────┼─────┤
//                │     │     │     │     │     │     │     │     │   │     │     │           │     │     │     │     │     │
//                ╰─────┴─────┴─────┼─────┼─────┼─────┼─────┼─────┤   ├─────┼─────┼───────────┼─────┼─────┼─────┴─────┴─────╯
//                                  │     │     │  ⇧  │     │     │   │  ⏎  │  ⌫  │  SYMBOLS │     │     │                  
//                                  ╰─────┴─────┴─────┴─────┴─────╯   ╰─────┴─────┴───────────┴─────┴─────╯                  
              ____            ____   ____   ____   ____   ____                                                    ____               ____   ____   ____   ____   ____
              &kp_sat LCTRL   ____   ____   ____   ____   ____                                                    ____               ____   ____   ____   ____   ____
              ____            ____   ____   ____   ____   ____             ____   ____       ____      ____       ____               ____   ____   ____   ____   ____
                                            ____   ____   &kp_sat LSHIFT   ____   ____       &kp RET   &kp BSPC   &mo_cyan SYMBOLS   ____   ____                     
                >;
        };
    };
};
