menu "Display Widgets"

config ZMK_DISPLAY
	select LV_USE_CONT
	select LV_USE_THEME_MONO
	select LV_FONT_UNSCII_8
	select LV_FONT_UNSCII_16
	select LV_FONT_MONTSERRAT_8
	select LV_FONT_MONTSERRAT_10
	select LV_FONT_MONTSERRAT_14
	select LV_FONT_MONTSERRAT_16
	select LV_FONT_MONTSERRAT_12_SUBPX
	select LV_FONT_MONTSERRAT_28_COMPRESSED
	select LV_FONT_SIMSUN_16_CJK
	# select LV_OBJ_LABEL


config WIDGET_LAYER_STATUS
	bool "Widget for highest, active layer using small icons"
	depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
	select LV_USE_LABEL


config WIDGET_OUTPUT_STATUS
	bool "Widget for keyboard output status icons"
	depends on BT && (!ZMK_SPLIT_BLE || ZMK_SPLIT_ROLE_CENTRAL)
	select LV_USE_LABEL


config WIDGET_BONGO_CAT
# menuconfig WIDGET_BONGO_CAT
	bool "Widget for displaying bongo cat that reacts to typing"
	depends on (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL) # !ZMK_DISPLAY_WORK_QUEUE_DEDICATED
	select LV_USE_IMG
	select LV_USE_LABEL
	select LV_USE_ANIMATION


config WIDGET_MENU
	bool "Widget for displaying a menu which displays selectable items"
	select LV_USE_ROLLER
	select LV_USE_LINE
	select LV_USE_IMG
	select LV_USE_ANIMATION
	select LV_USE_BTN
	select LV_USE_FLEX


config WIDGET_BATTERY_STATUS
	bool "Widget for battery charge information, using small icons"
	depends on BT
	select LV_USE_LABEL

	if WIDGET_BATTERY_STATUS
		config WIDGET_BATTERY_STATUS_SHOW_PERCENTAGE
			bool "Show battery level percentage in text"
	endif


config WIDGET_PERIPHERAL_STATUS
	bool "Widget for split peripheral status icons"
	depends on BT && ZMK_SPLIT_BLE && !ZMK_SPLIT_ROLE_CENTRAL
	select LV_USE_IMG
	select LV_USE_LABEL


config WIDGET_WPM_STATUS
	bool "Widget for displaying typed words per minute"
	depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL
	select LV_USE_LABEL
	select ZMK_WPM

endmenu
