CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [-m*, -f*, -W*]
  CompilationDatabase: /home/huy/repositories/zmk/app/build/dev/right/
Index:
  Background: Build
  External:
    File: /home/huy/repositories/zmk/app/build/dev/right/.cache/clangd/index
