if SHIELD_KYRIA_LEFT || SHIELD_KYRIA_REV2_LEFT || SHIELD_KYRIA_REV3_LEFT
	config ZMK_SPLIT_ROLE_CENTRAL
		default y
endif

if SHIELD_KYRIA
	config ZMK_SPLIT
		default y
	config ZMK_KEYBOARD_NAME
		default "Kyria"

	if ZMK_DISPLAY
		config I2C
			default y
		config SSD1306
			default y
		config SSD1306_REVERSE_MODE
			default y
	endif # ZMK_DISPLAY

	
	config ZMK_DISPLAY
		select LV_USE_CONT
		# select LV_FONT_MONTSERRAT_26
		# select LV_FONT_MONTSERRAT_16
		# select LV_OBJ_LABEL
		select LV_USE_LABEL
		select LV_USE_IMG
		select LV_USE_ANIMATION
		select LV_USE_THEME_MONO

	# menuconfig WIDGET_BONGO_CAT
	config WIDGET_BONGO_CAT
		bool "Widget for displaying bongo cat that reacts to typing"
		depends on !ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL

	config WIDGET_BATTERY_STATUS
		bool "custom battery status widget"

	config WIDGET_OUTPUT_STATUS
		bool "custom output status widget"

	config WIDGET_LAYER_STATUS
		bool "custom layer status widget"

	config WIDGET_PERIPHERAL_STATUS
		bool "custom peripheral status widget"


	if LVGL
		config LV_Z_VDB_SIZE
			default 64
		config LV_Z_DPI
			default 148
		config LV_Z_BITS_PER_PIXEL
			default 1
		choice LV_COLOR_DEPTH
			default LV_COLOR_DEPTH_1
		endchoice
	endif # LVGL

endif
