/ {
    keymap {
        compatible = "zmk,keymap";
        colemak {
            label = "Colemak";
            sensor-bindings = <&enc_up_down>;
            bindings = <
//                ╭─────────┬─────┬─────┬─────┬────────────┬─────────────╮                                                           ╭────────────────┬───────────────────────────┬────────────┬─────┬─────┬───────────────╮
//                │    ⭾    │  Q  │  W  │  F  │     P      │            │                                                           │  DISPLAY_MENU │             H             │     U      │  Y  │  J  │ Toggle Output │
//                ├─────────┼─────┼─────┼─────┼────────────┼─────────────┤                                                           ├────────────────┼───────────────────────────┼────────────┼─────┼─────┼───────────────┤
//                │  ⌃ │ ⎋  │  A  │  R  │  S  │     T      │      G      │                                                           │       M        │             N             │     E      │  I  │  O  │     ⌃ │ '     │
//                ├─────────┼─────┼─────┼─────┼────────────┼─────────────┼─────────┬────────╮   ╭─────────────────────────┬──────────┼────────────────┼───────────────────────────┼────────────┼─────┼─────┼───────────────┤
//                │  ⎇ │ ⏎  │  Z  │  X  │  C  │     D      │ LC(LS( ⎇ )) │ navipad │  VIM  │   │ &mo_menu_macro ENC_MENU │  ENC_LR │       ⌃        │             L             │     K      │  B  │  V  │       ⎇       │
//                ╰─────────┴─────┴─────┼─────┼────────────┼─────────────┼─────────┼────────┤   ├─────────────────────────┼──────────┼────────────────┼───────────────────────────┼────────────┼─────┴─────┴───────────────╯
//                                      │  ⌦  │  MEDIA_FN │      ◆      │    ␣    │ OS│ ⎋  │   │       &lt OS  ⏎         │    ⌫     │       OS      │ &mo_menu_macro LAYER_MENU │  SETTINGS │                            
//                                      ╰─────┴────────────┴─────────────┴─────────┴────────╯   ╰─────────────────────────┴──────────┴────────────────┴───────────────────────────┴────────────╯                            
              &kp TAB         &kp Q   &kp W   &kp F     &kp P          &kp LA(PIPE)                                                                                  &tog DISPLAY_MENU   &kp H                       &kp U          &kp Y   &kp J   &out OUT_TOG 
              &mt LCTRL ESC   &kp A   &kp R   &kp S     &kp T          &kp G                                                                                         &kp M               &kp N                       &kp E          &kp I   &kp O   &mt LCTRL SQT
              &mt LALT RET    &kp Z   &kp X   &kp C     &kp D          &kp LC(LS(LALT))   &td_navipad   &mo VIM               &mo_menu_macro ENC_MENU   &mo ENC_LR   &kp LCTRL           &kp L                       &kp K          &kp B   &kp V   &kp LALT     
                                              &kp DEL   &mo MEDIA_FN   &kp LMETA          &kp SPACE     &lt_blue OS ESC       &lt OS RET                &kp BSPC     &mo OS              &mo_menu_macro LAYER_MENU   &mo SETTINGS                                
            >;
        };
	};
    behaviors {
        enc_kp: enc_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENC_KP";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        enc_up_down: enc_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_UP_DOWN";
            #sensor-binding-cells = <0>;
            // mod morphs
            bindings = <&ctrl_down>, <&ctrl_up>;
        };
    };
};
