/ {
    keymap {
        compatible = "zmk,keymap";
        colemak {
            label = "Colemak";
            sensor-bindings = <&enc_up_down>;
            // sensor-bindings = <&inc_dec_kp &rgb_inc &rgb_dec>;
            bindings = <
//                ┌───────────┬────┬────┬──────┬───────┬──────────┐                                                             ┌────────────┬──────┬───────────┬────┬────┬───────────┐
//                │    TAB    │  Q │  W │   F  │   P   │  LA( | ) │                                                             │      :     │   H  │     U     │  Y │  J │   _oo_    │
//                ├───────────┼────┼────┼──────┼───────┼──────────┤                                                             ├────────────┼──────┼───────────┼────┼────┼───────────┤
//                │  CTRL ESC │  A │  R │   S  │   T   │     G    │                                                             │      M     │   N  │     E     │  I │  O │  CTRL ' " │
//                ├───────────┼────┼────┼──────┼───────┼──────────┼─────────┬───────────┐   ┌────────────┬──────────────────────┼────────────┼──────┼───────────┼────┼────┼───────────┤
//                │    ALT    │  Z │  X │   C  │   D   │  LA( | ) │ navipad │  mo VIM   │   │ tog ENC_LR │      enc_lr_mo       │      .     │   L  │     K     │  B │  V │   _oo_    │
//                └───────────┴────┴────┼──────┼───────┼──────────┼─────────┼───────────┤   ├────────────┼──────────────────────┼────────────┼──────┼───────────┼────┴────┴───────────┘
//                                      │  DEL │  META │ capsword │  SPACE  │ lt_os_esc │   │    enter   │ lt SYMBOLS BACKSPACE │ symbols_sl │ _oo_ │ sticky_mo │                      
//                                      └──────┴───────┴──────────┴─────────┴───────────┘   └────────────┴──────────────────────┴────────────┴──────┴───────────┘                      
              &kp TAB         &kp Q   &kp W   &kp F     &kp P       &kp LA(PIPE)                                                                      &kp COLON     &kp H   &kp U        &kp Y   &kp J   _oo_                  
              &mt LCTRL ESC   &kp A   &kp R   &kp S     &kp T       &kp G                                                                             &kp M         &kp N   &kp E        &kp I   &kp O   &mt LCTRL SINGLE_QUOTE
              &kp LALT        &kp Z   &kp X   &kp C     &kp D       &kp LA(PIPE)   &navipad    &mo VIM          &tog ENC_LR   &enc_lr_mo              &kp DOT       &kp L   &kp K        &kp B   &kp V   _oo_                  
                                              &kp DEL   &kp LMETA   &capsword      &kp SPACE   &lt_os_esc       &kp RET       &lt SYMBOLS BACKSPACE   &symbols_sl   _oo_    &sticky_mo                                         
            >;
        };
	};
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            // &media_fn_mo
            if-layers = <OS VIM>;
            then-layer = <MEDIA_FN>;
            // if-layers = <OS MEDIA_FN>;
            // then-layer = <FN_KEYS>;
        };
    };
    behaviors {
        rot_kp: behavior_sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENC_KP";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        enc_up_down: enc_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_UP_DOWN";
            #sensor-binding-cells = <0>;
            bindings = <&ctrl_down>, <&ctrl_up>;
        };
    };
};
