/ {
    keymap {
        compatible = "zmk,keymap";
        colemak {
            label = "Colemak";
            sensor-bindings = <&enc_up_down>;
            bindings = <
//                ╭─────────┬─────┬─────┬─────┬─────┬─────╮                                                ╭──────┬──────────┬──────────┬─────┬─────┬─────────╮
//                │    ⭾    │  Q  │  W  │  F  │  P  │    │                                                │  ⌫   │    H     │    U     │  Y  │  J  │   ---   │
//                ├─────────┼─────┼─────┼─────┼─────┼─────┤                                                ├──────┼──────────┼──────────┼─────┼─────┼─────────┤
//                │  ⌃ │ ⎋  │  A  │  R  │  S  │  T  │  G  │                                                │  M   │    N     │    E     │  I  │  O  │  ⌃ │ '  │
//                ├─────────┼─────┼─────┼─────┼─────┼─────┼─────────┬────────╮   ╭───────────┬─────────────┼──────┼──────────┼──────────┼─────┼─────┼─────────┤
//                │  ⎇ │ ⏎  │  Z  │  X  │  C  │  D  │  .  │ navipad │  VIM  │   │  ENC_SEL │   ENC_LR   │ ---  │    L     │    K     │  B  │  V  │    ⎇    │
//                ╰─────────┴─────┴─────┼─────┼─────┼─────┼─────────┼────────┤   ├───────────┼─────────────┼──────┼──────────┼──────────┼─────┴─────┴─────────╯
//                                      │  ⌦  │  ◆  │ --- │  ⇧ │ ␣  │ OS│ ⎋  │   │  OS│ ⏎    │ SYMBOLS│ ⌫  │  OS │  LAYERS │ settings │                      
//                                      ╰─────┴─────┴─────┴─────────┴────────╯   ╰───────────┴─────────────┴──────┴──────────┴──────────╯                      
              &kp TAB             &kp Q   &kp W   &kp F     &kp P       &kp LA(PIPE)                                                                                              &kp BSPC      &kp H              &kp U           &kp Y   &kp J   _oo_             
              &mt_sat LCTRL ESC   &kp A   &kp R   &kp S     &kp T       &kp G                                                                                                     &kp M         &kp N              &kp E           &kp I   &kp O   &mt_sat LCTRL SQT
              &mt_sat LALT RET    &kp Z   &kp X   &kp C     &kp D       &kp DOT        &td_navipad              &mo_indigo VIM        &enc_selection_mode ENC_SEL        &mo ENC_LR               _oo_          &kp L              &kp K           &kp B   &kp V   &kp_sat LALT     
                                                  &kp DEL   &kp LMETA   _oo_           &mtpr_sat LSHIFT SPACE   &lt_blue OS ESC       &lti_blue OS RET   &ltp_bspc SYMBOLS BSPC   &mo_blue OS   &mo_white LAYERS   &tap_settings                                    
            >;
        };
	};
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <OS VIM>;
            then-layer = <MEDIA_FN>;
        };
    };
    behaviors {
        enc_kp: enc_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            label = "ENC_KP";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };
        enc_up_down: enc_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_UP_DOWN";
            #sensor-binding-cells = <0>;
            // mod morphs
            bindings = <&ctrl_down>, <&ctrl_up>;
        };
    };
};
