/ {
    keymap {
        encoder_lr {
            label = "Enc LR";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            bindings = ENCODER_BUTTON(&to ENC_TAB);
        };
        encoder_tab {
            label = "Enc Tab";
            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
            // bindings = trans_layer;
            bindings = ENCODER_BUTTON(&to BASE);
        };
    };
};
