/ {
    keymap {
        encoder_lr {
            label = "Enc LR";
            sensor-bindings = <&enc_kp RIGHT LEFT>;
            bindings = ENCODER_BUTTON(&to ENC_TAB);
//             bindings = <
// //                ┌──────┬──────┬──────┬──────┬──────┬──────┐                                      ┌──────┬──────┬──────┬──────┬──────┬──────┐
// //                │ ____ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │                                      │ _oo_ │   7  │   8  │   9  │ _oo_ │ ____ │
// //                ├──────┼──────┼──────┼──────┼──────┼──────┤                                      ├──────┼──────┼──────┼──────┼──────┼──────┤
// //                │ ____ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │                                      │ _oo_ │   4  │   5  │   6  │   0  │ ____ │
// //                ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐   ┌──────┬─────────────┼──────┼──────┼──────┼──────┼──────┼──────┤
// //                │ ____ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │ _oo_ │ ____ │ ____ │   │ ____ │ tog ENC_TAB │ _oo_ │   1  │   2  │   3  │ _oo_ │ ____ │
// //                └──────┴──────┴──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼─────────────┼──────┼──────┼──────┼──────┴──────┴──────┘
// //                                     │ ____ │ ____ │ ____ │ ____ │ ____ │   │ ____ │    ____     │   0  │ ____ │ ____ │                     
// //                                     └──────┴──────┴──────┴──────┴──────┘   └──────┴─────────────┴──────┴──────┴──────┘                     
//               ____   _oo_   _oo_   _oo_   _oo_   _oo_                                           _oo_     &kp N7   &kp N8   &kp N9   _oo_     ____
//               ____   _oo_   _oo_   _oo_   _oo_   _oo_                                           _oo_     &kp N4   &kp N5   &kp N6   &kp N0   ____
//               ____   _oo_   _oo_   _oo_   _oo_   _oo_   ____   ____       &to ENC_TAB    ____   _oo_     &kp N1   &kp N2   &kp N3   _oo_     ____
//                                    ____   ____   ____   ____   ____       ____   ____           &kp N0   ____     ____                           
//             >;
        };
        encoder_tab {
            label = "Enc Tab";
            sensor-bindings = <&inc_dec_kp LC(TAB) LC(LS(TAB))>;
            // bindings = trans_layer;
            bindings = ENCODER_BUTTON(&to BASE);
        };
    };
};
