#define rgb rgb_ug
// #define boot bootloader
#define bt0 bt BT_SEL 0
#define bt1 bt BT_SEL 1
#define bt2 bt BT_SEL 2
#define bt3 bt BT_SEL 3
#define bt4 bt BT_SEL 4

/ {
	keymap {
		settings {
			label = "Settings";
			sensor-bindings = <&rgb_encoder>;
			bindings = <
//                ┌───────────────┬──────┬──────┬──────┬──────┬──────┐                               ┌───────────────┬─────────────┬────────────────┬──────────┬──────────┬─────────────┐
//                │  bootloader   │ bt0  │ bt1  │ bt2  │ bt3  │ bt4  │                               │  Toggle light │    ____     │      ____      │   ____   │   ____   │ visual_boot │
//                ├───────────────┼──────┼──────┼──────┼──────┼──────┤                               ├───────────────┼─────────────┼────────────────┼──────────┼──────────┼─────────────┤
//                │ Toggle Output │ ____ │ ____ │ ____ │ ____ │ ____ │                               │  Next Effect  │  Inc Bright │  Inc Ani Speed │  Inc Sat │  Inc Hue │    ____     │
//                ├───────────────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐   ┌──────┬──────┼───────────────┼─────────────┼────────────────┼──────────┼──────────┼─────────────┤
//                │  bt Clear BT  │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │   │ ____ │ ____ │  Prev Effect  │  Dec Bright │  Dec Ani Speed │  Dec Sat │  Dec Hue │    ____     │
//                └───────────────┴──────┴──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼──────┼───────────────┼─────────────┼────────────────┼──────────┴──────────┴─────────────┘
//                                              │ ____ │ ____ │ ____ │ ____ │ ____ │   │ ____ │ ____ │     ____      │    ____     │  tog SETTINGS  │                                    
//                                              └──────┴──────┴──────┴──────┴──────┘   └──────┴──────┴───────────────┴─────────────┴────────────────┘                                    
              &bootloader    &bt0   &bt1   &bt2   &bt3   &bt4                                   &rgb RGB_TOG   ____           ____            ____           ____           &visual_boot
              &out OUT_TOG   ____   ____   ____   ____   ____                                   &rgb RGB_EFF   &rgb RGB_BRI   &rgb RGB_SPI    &rgb RGB_SAI   &rgb RGB_HUI   ____        
              &bt BT_CLR     ____   ____   ____   ____   ____   ____   ____       ____   ____   &rgb RGB_EFR   &rgb RGB_BRD   &rgb RGB_SPD    &rgb RGB_SAD   &rgb RGB_HUD   ____        
                                           ____   ____   ____   ____   ____       ____   ____   ____           ____           &tog SETTINGS                                             
			>;
		};
	};
	macros {
		visual_boot: visual_boot {
            compatible = "zmk,behavior-macro";
            label = "visual_boot";
            #binding-cells = <0>;
			// wait-ms = <0>;
            bindings =
                <&rgb_ug RGB_OFF>,
                <&ext_power EP_OFF>,
                <&macro_pause_for_release>,
                <&bootloader>;
        };
    };
	behaviors {
        rgb_encoder: rgb_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            label = "RGB_ENCODER";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
        };
    };
};
