/ {
	combos {
		compatible = "zmk,combos";

		left_home_thumbs{
			bindings = <&mo STICKY>;
			key-positions = <43 30>;
			timeout-ms = <10>;
		};

		left_outer_thumb {
			bindings = <&trans>;
			key-positions = <31 44>;
			timeout-ms = <10>;
		};

		right_home_thumb {
			bindings = <&kp ENTER>;
			key-positions = <46 33>;
			timeout-ms = <10>;
		};

		both_home_thumbs {
			bindings = <&to COLEMAK>;
			key-positions = <30 43 33 46>;
		};

		both_home_thumb {
			bindings = <&mo SYMBOLS>;
			key-positions = <43 46>;
		};

		new_combo {
			bindings = <&trans>;
			key-positions = <33 46 43>;
		};

		new_combo2 {
			bindings = <&trans>;
			key-positions = <30 43 46>;
		};

		new_combo3 {
			bindings = <&trans>;
			key-positions = <30 43 45>;
		};

		new_combo4 {
			bindings = <&trans>;
			key-positions = <33 46 44>;
		};

		new_combo5 {
			bindings = <&trans>;
			key-positions = <31 44 33 46>;
		};

		side_thumbs {
			bindings = <&trans>;
			key-positions = <44 45>;
		};

	};
};
