#include "finger_positions.dtsi"

/ {
	combos {
		compatible = "zmk,combos";

		//------------------------------------------thumbs------------------------------------------

		left_thumbs {
			// bindings = <&tog NAVIPAD>;
			bindings = <&mo_VIM>;
			key-positions = <l_t lt_t>;
			timeout-ms = <20>;
		};

		right_thumbs {
			bindings = <&kp DEL>;
			key-positions = <r_t rt_t>;
			timeout-ms = <10>;
		};


		left_inner_thumbs {
			bindings = <&to_BASE>;
			key-positions = <l_ti lb_io>;
			timeout-ms = <10>;
		};

		right_inner_thumbs {
			bindings = <____>;
			key-positions = <r_ti rb_io>;
			timeout-ms = <10>;
		};

		//----------------------------------------both sides----------------------------------------

		home_thumbs {
			bindings = <____>;
			key-positions = <l_t r_t>;
			timeout-ms = <10>;
		};

		inner_thumbs {
			bindings = <____>;
			key-positions = <l_ti r_ti>;
			timeout-ms = <10>;
		};

		outer_thumbs {
			bindings = <____>;
			key-positions = <l_to r_to>;
			timeout-ms = <10>;
		};

		//-------------------------------------------misc-------------------------------------------
		right_pinky_row {
			bindings = <&ext_power EP_TOG>;
			key-positions = <rt_po r_po rb_po>;
			timeout-ms = <10>;
		};
	};
};
