#define _oo_ &none
#define ____ &trans

// Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
#define MO_TOG(layer) &mo_tog layer layer
#define tap_tog(layer) &tap_hold_toggle layer layer

#define ENCODER_LAYER(layer)\
< ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____ ____ ____   layer ____ ____ ____ ____ ____ ____ ____ \
                 ____ ____ ____ ____ ____   ____  ____ ____ ____ ____ >

#define trans_layer < \
____ ____ ____ ____ ____ ____                       ____ ____ ____ ____ ____ ____ \
____ ____ ____ ____ ____ ____                       ____ ____ ____ ____ ____ ____ \
____ ____ ____ ____ ____ ____ ____ ____   ____ ____ ____ ____ ____ ____ ____ ____ \
               ____ ____ ____ ____ ____   ____ ____ ____ ____ ____ >

// ____   ____   ____   ____   ____   ____                                   ____   ____   ____   ____   ____   ____
// ____   ____   ____   ____   ____   ____                                   ____   ____   ____   ____   ____   ____
// ____   ____   ____   ____   ____   ____   ____   ____       ____   ____   ____   ____   ____   ____   ____   ____
//                      ____   ____   ____   ____   ____       ____   ____   ____   ____   ____                     
