#define _oo_ &none
#define ____ &trans


#define ENCODER_BUTTON(layer)\
< ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____ ____ ____   layer ____ ____ ____ ____ ____ ____ ____ \
                 ____ ____ ____ ____ ____   ____  ____ ____ ____ ____ >

#define ENCODER_SIDE_BUTTON(layer)\
< ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____                        ____ ____ ____ ____ ____ ____ \
  ____ ____ ____ ____ ____ ____ ____ ____   ____ layer ____ ____ ____ ____ ____ ____ \
                 ____ ____ ____ ____ ____   ____  ____ ____ ____ ____ >

#define trans_layer < \
____ ____ ____ ____ ____ ____                       ____ ____ ____ ____ ____ ____ \
____ ____ ____ ____ ____ ____                       ____ ____ ____ ____ ____ ____ \
____ ____ ____ ____ ____ ____ ____ ____   ____ ____ ____ ____ ____ ____ ____ ____ \
               ____ ____ ____ ____ ____   ____ ____ ____ ____ ____ >

// ____   ____   ____   ____   ____   ____                                   ____   ____   ____   ____   ____   ____
// ____   ____   ____   ____   ____   ____                                   ____   ____   ____   ____   ____   ____
// ____   ____   ____   ____   ____   ____   ____   ____       ____   ____   ____   ____   ____   ____   ____   ____
//                      ____   ____   ____   ____   ____       ____   ____   ____   ____   ____                     
