// lt_ti: left top _ thumb inner
// rb_po: right bottom _ pinky outer

// ╭────────┬───────┬───────┬────────┬────────┬────────╮                                     ╭────────┬────────┬────────┬───────┬───────┬────────╮
// │  lt_po │  lt_p │  lt_r │  lt_m  │  lt_i  │  lt_io │                                     │  rt_io │  rt_i  │  rt_m  │  rt_r │  rt_p │  rt_po │
// ├────────┼───────┼───────┼────────┼────────┼────────┤                                     ├────────┼────────┼────────┼───────┼───────┼────────┤
// │  l_po  │  l_p  │  l_r  │   l_m  │   l_i  │  l_io  │                                     │  r_io  │   r_i  │   r_m  │  r_r  │  r_p  │  r_po  │
// ├────────┼───────┼───────┼────────┼────────┼────────┼───────┬────────╮   ╭────────┬───────┼────────┼────────┼────────┼───────┼───────┼────────┤
// │  lb_po │  lb_p │  lb_r │  lb_m  │  lb_i  │  lb_io │  lt_t │  lt_to │   │  rt_to │  rt_t │  rb_io │  rb_i  │  rb_m  │  rb_r │  rb_p │  rb_po │
// ╰────────┴───────┴───────┼────────┼────────┼────────┼───────┼────────┤   ├────────┼───────┼────────┼────────┼────────┼───────┴───────┴────────╯
//                          │  l_ti3 │  l_ti2 │  l_ti  │  l_t  │  l_to  │   │  r_to  │  r_t  │  r_ti  │  r_ti2 │  r_ti3 │
//                          ╰────────┴────────┴────────┴───────┴────────╯   ╰────────┴───────┴────────┴────────┴────────╯

// thumb cluster
#define lt_t  30
#define lt_to 31
#define rt_to 32
#define rt_t  33

#define l_ti3 40
#define l_ti2 41
#define l_ti  42
#define l_t   43
#define l_to  44

#define r_to  45
#define r_t   46
#define r_ti  47
#define r_ti2 48
#define r_ti3 49

// row 0 left
#define lt_po  0
#define lt_p   1
#define lt_r   2
#define lt_m   3
#define lt_i   4
#define lt_io  5

// row 1 left
#define l_po 12
#define l_p  13
#define l_r  14
#define l_m  15
#define l_i  16
#define l_io 17

// row 2 left
#define lb_po 24
#define lb_p  25
#define lb_r  26
#define lb_m  27
#define lb_i  28
#define lb_io 29

// row 0 right
#define rt_io  6
#define rt_i   7
#define rt_m   8
#define rt_r   9
#define rt_p  10
#define rt_po 11

// row 1 right
#define r_io  18
#define r_i   19
#define r_m   20
#define r_r   21
#define r_p   22
#define r_po  23

// row 2 right
#define rb_io 34
#define rb_i  35
#define rb_m  36
#define rb_r  37
#define rb_p  38
#define rb_po 39

// / {
// keymap {
// 	compatible = "zmk,keymap";
// 	finger_positions {
// 		label = "Finger";
// 		bindings = <
// //                ╭───────┬──────┬──────┬───────┬───────┬───────╮                                 ╭───────┬───────┬───────┬──────┬──────┬───────╮
// //                │ lt_po │ lt_p │ lt_r │ lt_m  │ lt_i  │ lt_io │                                 │ rt_io │ rt_i  │ rt_m  │ rt_r │ rt_p │ rt_po │
// //                ├───────┼──────┼──────┼───────┼───────┼───────┤                                 ├───────┼───────┼───────┼──────┼──────┼───────┤
// //                │ l_po  │ l_p  │ l_r  │  l_m  │  l_i  │ l_io  │                                 │ r_io  │  r_i  │  r_m  │ r_r  │ r_p  │ r_po  │
// //                ├───────┼──────┼──────┼───────┼───────┼───────┼──────┬───────╮   ╭───────┬──────┼───────┼───────┼───────┼──────┼──────┼───────┤
// //                │ lb_po │ lb_p │ lb_r │ lb_m  │ lb_i  │ lb_io │ lt_t │ lt_to │   │ rt_to │ rt_t │ rb_io │ rb_i  │ rb_m  │ rb_r │ rb_p │ rb_po │
// //                ╰───────┴──────┴──────┼───────┼───────┼───────┼──────┼───────┤   ├───────┼──────┼───────┼───────┼───────┼──────┴──────┴───────╯
// //                                      │ l_ti3 │ l_ti2 │ l_ti  │ l_t  │ l_to  │   │ r_to  │ r_t  │ r_ti  │ r_ti2 │ r_ti3 │                      
// //                                      ╰───────┴───────┴───────┴──────┴───────╯   ╰───────┴──────┴───────┴───────┴───────╯                      
//               &lt_po   &lt_p   &lt_r   &lt_m    &lt_i    &lt_io                                         &rt_io   &rt_i    &rt_m    &rt_r   &rt_p   &rt_po
//               &l_po    &l_p    &l_r    &l_m     &l_i     &l_io                                          &r_io    &r_i     &r_m     &r_r    &r_p    &r_po 
//               &lb_po   &lb_p   &lb_r   &lb_m    &lb_i    &lb_io   &lt_t   &lt_to       &rt_to   &rt_t   &rb_io   &rb_i    &rb_m    &rb_r   &rb_p   &rb_po
//                                        &l_ti3   &l_ti2   &l_ti    &l_t    &l_to        &r_to    &r_t    &r_ti    &r_ti2   &r_ti3                         
// 		>;
// 	};
// };
