#define BASE 0
#define BASE_CAPS 1
#define EXPERIMENTAL 2
#define QWERTY 3
#define GAMING 4
#define SUDOKU 5
#define NO_HOLD 6
#define NAVIPAD 7
#define NUMPAD 8
#define VIM 9
#define SYMBOLS 10
#define OS 11
#define MEDIA_FN 12
#define FN_KEYS 13
#define SETTINGS 14
#define SETTINGS_HUE 15
#define SETTINGS_SAT 16
#define LAYERS 17
#define ENC_LR 18
#define ENC_TAB 19
