#include "keymaps/base.keymap"
#include "keymaps/base_caps.keymap"
#include "keymaps/base_qwerty.keymap"
#include "keymaps/navipad.keymap"
#include "keymaps/vim.keymap"
#include "keymaps/symbols.keymap"
#include "keymaps/os_layer.keymap"
#include "keymaps/media.keymap"
#include "keymaps/fn_keys.keymap"
#include "keymaps/settings.keymap"
#include "keymaps/sticky_layers.keymap"
#include "keymaps/encoder_layers.keymap"
