#define BASE 0
#define BASE_CAPS 1
#define EXPERIMENTAL 2
#define QWERTY 3
#define FIDGET 4
#define GAMING 5
#define SUDOKU 6
#define NO_HOLD 7
#define NAVIPAD 8
#define NUMPAD 9
#define VIM 10
#define SYMBOLS 11
#define OS 12
#define MEDIA_FN 13
#define FN_KEYS 14
#define SETTINGS 15
#define SETTINGS_HUE 16
#define SETTINGS_SAT 17
#define LAYERS 18
#define ENC_LR 19
#define ENC_TAB 20
#define ENC_SEL 21
#define ENC_LR_SEL 22
#define ENC_TAB_SEL 23
