#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

#include "defines.dtsi"


#define BASE      0
#define CHROME    1
#define QWERTY    2

#define SYMBOLS   3
#define NAVIPAD   4
#define NUMPAD    5
#define OS        6
#define MEDIA_FN  7
#define FN_KEYS   8

#define SETTINGS  9
#define STICKY   10

#define ENC_LR   11
#define ENC_TAB  12


#include "keymaps/base.keymap"
#include "macros.dtsi"
#include "keymaps/base_chromebook.keymap"
#include "keymaps/base_qwerty.keymap"

#include "keymaps/symbols.keymap"
#include "keymaps/navipad.keymap"
#include "keymaps/os_layer.keymap"
#include "keymaps/media.keymap"
#include "keymaps/fn_keys.keymap"

#include "keymaps/settings.keymap"
#include "keymaps/sticky_layers.keymap"

#include "keymaps/encoder_layers.keymap"


#include "combos.dtsi"

&sl {
    release-after-ms = <200>;
};

&lt {
    tapping-term-ms = <100>;
};
