#include "includes.dtsi"
#include "defines.dtsi"

#define BASE      0
#define CHROME    1
#define QWERTY    2

#define NAVIPAD   3
#define NUMPAD    4

#define VIM       5
#define SYMBOLS   6
#define OS        7
#define MEDIA_FN  8
#define FN_KEYS   9

#define SETTINGS 10
#define STICKY   11

#define ENC_LR   12
#define ENC_TAB  13


#include "keymaps/base.keymap"
#include "macros.dtsi"
#include "keymaps/base_chromebook.keymap"
#include "keymaps/base_qwerty.keymap"

#include "keymaps/navipad.keymap"
#include "keymaps/vim.keymap"
#include "keymaps/symbols.keymap"
#include "keymaps/os_layer.keymap"
#include "keymaps/media.keymap"
#include "keymaps/fn_keys.keymap"

#include "keymaps/settings.keymap"
#include "keymaps/sticky_layers.keymap"

#include "keymaps/encoder_layers.keymap"


#include "combos.dtsi"

&sl {
    release-after-ms = <200>;
};

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
    quick-tap-ms = <200>;
};
