/ {
    keymap {
        colemak {
            label = "Colemak";
            sensor-bindings = <&inc_dec_kp DOWN UP>;
            bindings = <
//    ┌───────────┬────┬────┬──────┬───────┬───────────┐                                                               ┌───────┬──────┬─────────────┬────┬────┬───────┐
//    │    TAB    │  Q │  W │   F  │   P   │     /     │                                                               │  : ;  │   H  │      U      │  Y │  J │  _ -  │
//    ├───────────┼────┼────┼──────┼───────┼───────────┤                                                               ├───────┼──────┼─────────────┼────┼────┼───────┤
//    │  CTRL ESC │  A │  R │   S  │   T   │     G     │                                                               │   M   │   N  │      E      │  I │  O │  ' "  │
//    ├───────────┼────┼────┼──────┼───────┼───────────┼─────────┬───────────┐   ┌──────────────────────────┬──────────┼───────┼──────┼─────────────┼────┼────┼───────┤
//    │    LALT   │  Z │  X │   C  │   D   │    , <    │ navipad │ mo F_KEYS │   │ mo_tog BASE_ENC BASE_ENC │  ______  │  . >  │   L  │      K      │  B │  V │  CTRL │
//    └───────────┴────┴────┼──────┼───────┼───────────┼─────────┼───────────┤   ├──────────────────────────┼──────────┼───────┼──────┼─────────────┼────┴────┴───────┘
//                          │  DEL │  META │ to CHROME │  SPACE  │   SHIFT   │   │            RET           │ bspc/del │  CTRL │ hype │ mo SETTINGS │                  
//                          └──────┴───────┴───────────┴─────────┴───────────┘   └──────────────────────────┴──────────┴───────┴──────┴─────────────┘                  
  &kp TAB         &kp Q   &kp W   &kp F     &kp P       &kp FSLH                                                                            &colon_swap   &kp H    &kp U          &kp Y   &kp J   &dash_swap      
  &mt LCTRL ESC   &kp A   &kp R   &kp S     &kp T       &kp G                                                                               &kp M         &kp N    &kp E          &kp I   &kp O   &kp SINGLE_QUOTE
  &kp LALT        &kp Z   &kp X   &kp C     &kp D       &kp COMMA    &nav_toggle   &mo F_KEYS       &mo_tog BASE_ENC BASE_ENC   &trans      &kp DOT       &kp L    &kp K          &kp B   &kp V   &kp RCTRL       
                                  &kp DEL   &mo STICKY   &to LMETA   &kp SPACE     &kp LSHFT        &kp RET                     &bspc_del   &kp RCTRL     &hyper   &mo SETTINGS                                   
                >;
        };
	};
};
