/ {
    keymap {
        base_enc {
            label = "Base Enc";
            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
            // bindings = <ENCODER_LAYER(BASE_ENC)>;
            bindings = <
//    ┌────────┬────────┬────────┬────────┬────────┬────────┐                                       ┌────────┬────────┬────────┬────────┬────────┬────────┐
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                       │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├────────┼────────┼────────┼────────┼────────┼────────┤                                       ├────────┼────────┼────────┼────────┼────────┼────────┤
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                       │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │
//    ├────────┼────────┼────────┼────────┼────────┼────────┼────────┬────────┐   ┌────────┬────────┼────────┼────────┼────────┼────────┼────────┼────────┤
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │
//    └────────┴────────┴────────┼────────┼────────┼────────┼────────┼────────┤   ├────────┼────────┼────────┼────────┼────────┼────────┴────────┴────────┘
//                               │ ______ │ ______ │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │ ______ │ ______ │                           
//                               └────────┴────────┴────────┴────────┴────────┘   └────────┴────────┴────────┴────────┴────────┘                           
  &trans   &trans   &trans   &trans   &trans   &trans                                           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                                           &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans
                             &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans   &trans                           
                >;
        };
    };
};

