/ {
    keymap {
        navipad {
			label = "Navipad";
			sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
			bindings = <
				//    ┌────────────┬────────────┬─────────┬─────────┬──────────┬────────┐                                        ┌────────┬────────┬────────┬────┬────┬────────┐
				//    │   ______   │  C_AC_CUT  │  K_COPY │    UP   │  K_PASTE │ ______ │                                        │    *   │    7   │    8   │  9 │  - │ ______ │
				//    ├────────────┼────────────┼─────────┼─────────┼──────────┼────────┤                                        ├────────┼────────┼────────┼────┼────┼────────┤
				//    │ mo WIN_MAN │  mo MEDIA  │   LEFT  │   DOWN  │   RIGHT  │ ______ │                                        │    =   │    4   │    5   │  6 │  + │ ______ │
				//    ├────────────┼────────────┼─────────┼─────────┼──────────┼────────┼─────────┬────────┐   ┌────────┬────────┼────────┼────────┼────────┼────┼────┼────────┤
				//    │  C_AC_REDO │  C_AC_UNDO │  K_CUT  │  K_COPY │  K_PASTE │ ______ │ to MAIN │ ______ │   │ ______ │ ______ │ ______ │    1   │    2   │  3 │  / │ ______ │
				//    └────────────┴────────────┴─────────┼─────────┼──────────┼────────┼─────────┼────────┤   ├────────┼────────┼────────┼────────┼────────┼────┴────┴────────┘
				//                                        │ ______  │  ______  │ ______ │ ______  │ ______ │   │ ______ │ ______ │    0   │ ______ │ ______ │                   
				//                                        └─────────┴──────────┴────────┴─────────┴────────┘   └────────┴────────┴────────┴────────┴────────┘                   
				&trans          &kp C_AC_CUT    &kp K_COPY   &kp UP       &kp K_PASTE   &trans                                             &kp STAR       &kp KP_N7   &kp KP_N8   &kp KP_N9   &kp KP_MINUS   &trans
				&mo WIN_MAN     &mo MEDIA       &kp LEFT     &kp DOWN     &kp RIGHT     &trans                                             &kp KP_EQUAL   &kp KP_N4   &kp KP_N5   &kp KP_N6   &kp KP_PLUS    &trans
				&kp C_AC_REDO   &kp C_AC_UNDO   &kp K_CUT    &kp K_COPY   &kp K_PASTE   &trans   &tog NAVIPAD   &trans       &trans   &trans   &trans         &kp KP_N1   &kp KP_N2   &kp KP_N3   &kp KP_SLASH   &trans
				&trans       &trans        &trans   &trans     &trans       &trans   &trans   &kp KP_N0      &trans      &trans                                       
				>;
		};

    };
};
