#define _desk_1 &kp LG(H)
#define _desk_2 &kp LG(J)
#define _desk_3 &kp LG(K)
#define _desk_4 &kp LG(L)
#define _desk_5 &kp LG(SEMI)

#define _desk_l &kp LG(LBKT)
#define _desk_r &kp LG(RBKT)

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <OS F_KEYS>;
            then-layer = <MEDIA_WIN>;
        };
    };
	keymap {
		os_layer {
			label = "OS";
			bindings = <
//    ┌──────┬──────┬─────────┬──────┬─────────┬──────┐                               ┌─────────┬─────────┬─────────┬─────────┬─────────┬──────┐
//    │ ____ │ _oo_ │  _oo_   │ _oo_ │  _oo_   │ _oo_ │                               │  _oo_   │ _desk_l │ _desk_r │  _oo_   │  _oo_   │ _oo_ │
//    ├──────┼──────┼─────────┼──────┼─────────┼──────┤                               ├─────────┼─────────┼─────────┼─────────┼─────────┼──────┤
//    │ ____ │ _oo_ │ _desk_l │ _oo_ │ _desk_r │ _oo_ │                               │ _desk_1 │ _desk_2 │ _desk_3 │ _desk_4 │ _desk_5 │ _oo_ │
//    ├──────┼──────┼─────────┼──────┼─────────┼──────┼──────┬──────┐   ┌──────┬──────┼─────────┼─────────┼─────────┼─────────┼─────────┼──────┤
//    │ ____ │ _oo_ │  _oo_   │ _oo_ │  _oo_   │ _oo_ │ ____ │ ____ │   │ ____ │ ____ │  _oo_   │  _oo_   │  _oo_   │  _oo_   │  _oo_   │ _oo_ │
//    └──────┴──────┴─────────┼──────┼─────────┼──────┼──────┼──────┤   ├──────┼──────┼─────────┼─────────┼─────────┼─────────┴─────────┴──────┘
//                            │ ____ │  ____   │ ____ │ ____ │ ____ │   │ ____ │ ____ │  ____   │  ____   │  ____   │                           
//                            └──────┴─────────┴──────┴──────┴──────┘   └──────┴──────┴─────────┴─────────┴─────────┘                           
  ____   _oo_   _oo_      _oo_   _oo_      _oo_                                   _oo_      _desk_l   _desk_r   _oo_      _oo_      _oo_
  ____   _oo_   _desk_l   _oo_   _desk_r   _oo_                                   _desk_1   _desk_2   _desk_3   _desk_4   _desk_5   _oo_
  ____   _oo_   _oo_      _oo_   _oo_      _oo_   ____   ____       ____   ____   _oo_      _oo_      _oo_      _oo_      _oo_      _oo_
                          ____   ____      ____   ____   ____       ____   ____   ____      ____      ____                              
			>;
		};
	};
};

