/ {
    keymap {
        layers {
			label = "Layers";
			bindings = <
//    ┌────────┬────────┬────────┬────────┬────────┬────────┐                                                  ┌────────────┬──────────────┬────────┬────────┬────────┬────────┐
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                                  │   ______   │  tog CHROME  │ ______ │ ______ │ ______ │ ______ │
//    ├────────┼────────┼────────┼────────┼────────┼────────┤                                                  ├────────────┼──────────────┼────────┼────────┼────────┼────────┤
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                                  │ to COLEMAK │  tog QWERTY  │ ______ │ ______ │ ______ │ ______ │
//    ├────────┼────────┼────────┼────────┼────────┼────────┼─────────────┬────────┐   ┌──────────────┬────────┼────────────┼──────────────┼────────┼────────┼────────┼────────┤
//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ tog NAVIPAD │ ______ │   │ tog BASE_ENC │ ______ │   ______   │    ______    │ ______ │ ______ │ ______ │ ______ │
//    └────────┴────────┴────────┼────────┼────────┼────────┼─────────────┼────────┤   ├──────────────┼────────┼────────────┼──────────────┼────────┼────────┴────────┴────────┘
//                               │ ______ │ ______ │ ______ │   ______    │ ______ │   │    ______    │ ______ │   ______   │ tog SETTINGS │ ______ │                           
//                               └────────┴────────┴────────┴─────────────┴────────┘   └──────────────┴────────┴────────────┴──────────────┴────────┘                           
  &trans   &trans   &trans   &trans   &trans   &trans                                                        &trans        &tog CHROME     &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                                                        &to COLEMAK   &tog QWERTY     &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &tog NAVIPAD   &trans       &tog BASE_ENC   &trans   &trans        &trans          &trans   &trans   &trans   &trans
                             &trans   &trans   &trans   &trans         &trans       &trans          &trans   &trans        &tog SETTINGS   &trans                           
				>;
		};

    };
};
