/ {
    keymap {
        layers {
			label = "Layers";
			bindings = <
//    ┌──────┬──────┬──────┬──────┬──────┬──────┐                                            ┌─────────────┬────────────┬──────┬──────┬──────┬──────────────┐
//    │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │                                            │    ____     │ tog CHROME │ ____ │ ____ │ ____ │ tog SETTINGS │
//    ├──────┼──────┼──────┼──────┼──────┼──────┤                                            ├─────────────┼────────────┼──────┼──────┼──────┼──────────────┤
//    │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │                                            │   to BASE   │ tog QWERTY │ ____ │ ____ │ ____ │     ____     │
//    ├──────┼──────┼──────┼──────┼──────┼──────┼─────────────┬──────┐   ┌────────────┬──────┼─────────────┼────────────┼──────┼──────┼──────┼──────────────┤
//    │ ____ │ ____ │ ____ │ ____ │ ____ │ ____ │ tog NAVIPAD │ ____ │   │ tog ENC_LR │ ____ │    ____     │    ____    │ ____ │ ____ │ ____ │     ____     │
//    └──────┴──────┴──────┼──────┼──────┼──────┼─────────────┼──────┤   ├────────────┼──────┼─────────────┼────────────┼──────┼──────┴──────┴──────────────┘
//                         │ ____ │ ____ │ ____ │    ____     │ ____ │   │    ____    │ ____ │ tog SYMBOLS │    ____    │ ____ │                             
//                         └──────┴──────┴──────┴─────────────┴──────┘   └────────────┴──────┴─────────────┴────────────┴──────┘                             
  ____   ____   ____   ____   ____   ____                                                  ____           &tog CHROME   ____   ____   ____   &tog SETTINGS
  ____   ____   ____   ____   ____   ____                                                  &to BASE       &tog QWERTY   ____   ____   ____   ____         
  ____   ____   ____   ____   ____   ____   &tog NAVIPAD   ____       &tog ENC_LR   ____   ____           ____          ____   ____   ____   ____         
                       ____   ____   ____   ____           ____       ____          ____   &tog SYMBOLS   ____          ____                              
				>;
		};

    };
};
