
/ {
    keymap {
        symbols {
            label = "Symbols";
            bindings = <
//    ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                           ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐
//    │ _______ │    !    │    @    │    #    │    $    │    %    │                                           │    ^    │   amps  │    *    │    \    │    |    │ _______ │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                           ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
//    │ _______ │    ~    │    `    │    [    │    (    │    {    │                                           │    }    │    )    │    ]    │ _______ │ _______ │ _______ │
//    ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┬─────────┐   ┌─────────┬─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
//    │ _______ │ _______ │ _______ │    _    │    =    │    <    │ _______ │ _______ │   │ _______ │ _______ │    >    │    +    │    -    │ _______ │ _______ │ _______ │
//    └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤   ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘
//                                  │ _______ │ _______ │ _______ │ _______ │ _______ │   │ _______ │ _______ │ _______ │ _______ │ _______ │                              
//                                  └─────────┴─────────┴─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┴─────────┴─────────┘                              
  &trans   &kp EXCL    &kp AT      &kp POUND   &kp DLLR    &kp PRCNT                                           &kp CARET   &kp AMPS   &kp STAR    &kp BSLH   &kp PIPE   &trans
  &trans   &kp TILDE   &kp GRAVE   &kp LBKT    &kp LPAR    &kp LBRC                                            &kp RBRC    &kp RPAR   &kp RBKT    &trans     &trans     &trans
  &trans   &trans      &trans      &kp UNDER   &kp EQUAL   &kp LT      &trans   &trans       &trans   &trans   &kp GT      &kp PLUS   &kp MINUS   &trans     &trans     &trans
                                   &trans      &trans      &trans      &trans   &trans       &trans   &trans   &trans      &trans     &trans                                  
            >;
        };
    };
};
