
/ {
    keymap {
		symbols {
			label = "Symbols";
			bindings = <
//    ┌────────┬─────┬─────┬────────┬────────┬────────┐                                       ┌────────┬────────┬────────┬─────┬─────┬────────┐
//    │  TILDE │  N1 │  N2 │   N3   │   N4   │   N5   │                                       │   N6   │   N7   │   N8   │  N9 │  N0 │    |   │
//    ├────────┼─────┼─────┼────────┼────────┼────────┤                                       ├────────┼────────┼────────┼─────┼─────┼────────┤
//    │    `   │  !  │  @  │    #   │    $   │    %   │                                       │    ^   │  amps  │    *   │  (  │  )  │    \   │
//    ├────────┼─────┼─────┼────────┼────────┼────────┼────────┬────────┐   ┌────────┬────────┼────────┼────────┼────────┼─────┼─────┼────────┤
//    │  CTRL  │  _  │  -  │    +   │    =   │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │    [   │    ]   │  {  │  }  │ ______ │
//    └────────┴─────┴─────┼────────┼────────┼────────┼────────┼────────┤   ├────────┼────────┼────────┼────────┼────────┼─────┴─────┴────────┘
//                         │ ______ │ ______ │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │ ______ │ ______ │                     
//                         └────────┴────────┴────────┴────────┴────────┘   └────────┴────────┴────────┴────────┴────────┘                     
  &kp TILDE   &kp N1      &kp N2      &kp N3      &kp N4      &kp N5                                              &kp N6      &kp N7     &kp N8     &kp N9     &kp N0     &kp PIPE
  &kp GRAVE   &kp EXCL    &kp AT      &kp POUND   &kp DLLR    &kp PRCNT                                           &kp CARET   &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR   &kp BSLH
  &kp LCTRL   &kp UNDER   &kp MINUS   &kp PLUS    &kp EQUAL   &trans      &trans   &trans       &trans   &trans   &trans      &kp LBKT   &kp RBKT   &kp LBRC   &kp RBRC   &trans  
                                      &trans      &trans      &trans      &trans   &trans       &trans   &trans   &trans      &trans     &trans                                   
				>;
		};
    };
};
