
/ {
    keymap {
        symbols {
            label = "Symbols";
            bindings = <
//    ┌──────┬──────┬──────┬──────┬──────┬──────┐                                  ┌─────────┬────────┬──────┬──────┬──────┬──────┐
//    │   ~  │   !  │   @  │   #  │   $  │   %  │                                  │    ^    │   AND  │   *  │   \  │   |  │ ____ │
//    ├──────┼──────┼──────┼──────┼──────┼──────┤                                  ├─────────┼────────┼──────┼──────┼──────┼──────┤
//    │ ____ │   `  │   =  │   [  │   (  │   {  │                                  │    }    │    )   │   ]  │   +  │   -  │ ____ │
//    ├──────┼──────┼──────┼──────┼──────┼──────┼──────┬──────┐   ┌──────┬─────────┼─────────┼────────┼──────┼──────┼──────┼──────┤
//    │ ____ │   1  │   2  │   3  │   4  │   5  │ ____ │ ____ │   │ ____ │ to BASE │    6    │    7   │   8  │   9  │   0  │ ____ │
//    └──────┴──────┴──────┼──────┼──────┼──────┼──────┼──────┤   ├──────┼─────────┼─────────┼────────┼──────┼──────┴──────┴──────┘
//                         │ ____ │ ____ │ ____ │ ____ │ ____ │   │ ____ │  ____   │ to BASE │  ____  │ ____ │                     
//                         └──────┴──────┴──────┴──────┴──────┘   └──────┴─────────┴─────────┴────────┴──────┘                     
  &kp TILDE   &kp EXCL    &kp AT      &kp POUND   &kp DLLR   &kp PRCNT                                       &kp CARET   &kp AMPS   &kp STAR   &kp BSLH   &kp PIPE    ____
  ____        &kp GRAVE   &kp EQUAL   &kp LBKT    &kp LPAR   &kp LBRC                                        &kp RBRC    &kp RPAR   &kp RBKT   &kp PLUS   &kp MINUS   ____
  ____        &kp N1      &kp N2      &kp N3      &kp N4     &kp N5      ____   ____       ____   &to BASE   &kp N6      &kp N7     &kp N8     &kp N9     &kp N0      ____
                                      ____        ____       ____        ____   ____       ____   ____       &to BASE    ____       ____                                  
            >;
        };
    };
};
