/ {
	keymap {
		win_manager {
			label = "Window";
			bindings = <
				//    ┌────────┬────────┬────────┬────────┬────────┬────────┐                                       ┌────────┬──────────┬────────────┬───────────┬────────┬────────┐
				//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                       │ ______ │  ______  │   ______   │  ______   │ ______ │ ______ │
				//    ├────────┼────────┼────────┼────────┼────────┼────────┤                                       ├────────┼──────────┼────────────┼───────────┼────────┼────────┤
				//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │                                       │ ______ │ win_left │ win_center │ win_right │ ______ │ ______ │
				//    ├────────┼────────┼────────┼────────┼────────┼────────┼────────┬────────┐   ┌────────┬────────┼────────┼──────────┼────────────┼───────────┼────────┼────────┤
				//    │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │  ______  │   ______   │  ______   │ ______ │ ______ │
				//    └────────┴────────┴────────┼────────┼────────┼────────┼────────┼────────┤   ├────────┼────────┼────────┼──────────┼────────────┼───────────┴────────┴────────┘
				//                               │ ______ │ ______ │ ______ │ ______ │ ______ │   │ ______ │ ______ │ ______ │  ______  │   ______   │                              
				//                               └────────┴────────┴────────┴────────┴────────┘   └────────┴────────┴────────┴──────────┴────────────┘                              
				&trans   &trans   &trans   &trans   &trans   &trans                                           &trans   &trans      &trans        &trans       &trans   &trans
				&trans   &trans   &trans   &trans   &trans   &trans                                           &trans   &win_left   &win_center   &win_right   &trans   &trans
				&trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans      &trans        &trans       &trans   &trans
				&trans   &trans   &trans   &trans   &trans       &trans   &trans   &trans   &trans      &trans                                    
				>;
		};
	};
};

